body {
  background-color: #f8f8f8;
  color: #444;
  font-family: sans-serif;
  font-size: medium;
  font-weight: normal;
}

h1, h2, h3, p {
  margin: 0 0 1em 0;
}

h1 {
  text-align: center;
}

a {
  color: #d22;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #822;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #fff;
  border: 1px dotted #444;
  display: block;
  font-family: monospace;
  margin: 1em 3ex;
  padding: .5em 3ex;
}

nav {
  border-bottom: 1px solid #444;
  text-align: center;
}

nav img {
  margin: 0 .5ex;
  height: 5ex;
  width: 5ex;
}

footer {
  margin-top: 1em;
  font-size: small;
}

footer nav {
  border-top: 1px solid #444;
  border-bottom: none;
  text-align: left;
}

footer p {
  text-align: right;
}

#generator {
  border: 2px solid #444;
  border-radius: 1ex;
  margin: .25em auto;
  max-width: 80ex;
  padding: 1ex;
}
